<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Market</title>
</head>
<body>
<h1>Withdraw</h1>
<form action="/withdraw" method="post">
    <label for="account_number">Account Number:</label><br>
    <input type="text" id="account_number" name="account_number"><br>
    <label for="bank_code">Bank Code:</label><br>
    <input type="text" id="bank_code" name="bank_code"><br><br>
    <label for="amount">Amount:</label><br>
    <input type="number" id="amount" name="amount"><br><br>
    <label for="remark">Remark:</label><br>
    <input type="text" id="remark" name="remark"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>